[xfce4-session]
CustomizeSplash={{ xfce_session_customize_splash }}
CustomizeChooser={{ xfce_session_customize_chooser }}
CustomizeLogout={{ xfce_session_customize_logout }}
CustomizeCompatibility={{ xfce_session_customize_compatibility }}
Shutdown={{ xfce_session_shutdown }}
CustomizeSecurity={{ xfce_session_customize_security }}
