[xfce4-session]
CustomizeSplash={{ xbc_kiosk_logout_splash }}
CustomizeChooser={{ xbc_kiosk_logout_chooser }}
CustomizeLogout={{ xbc_kiosk_logout_logout }}
CustomizeCompatibility={{ xbc_kiosk_logout_compatibility }}
Shutdown={{ xbc_kiosk_logout_shutdown }}
CustomizeSecurity={{ xbc_kiosk_logout_security }}
