<?xml version="1.0" encoding="UTF-8"?>

<channel name="xfce4-keyboard-shortcuts" version="1.0">
  <property name="commands" type="empty">
    <property name="default" type="empty">
      <property name="&lt;Alt&gt;F1" type="string" value=""/>
      <property name="&lt;Alt&gt;F2" type="string" value="">
        <property name="startup-notify" type="bool" value="false"/>
      </property>
      <property name="&lt;Alt&gt;F3" type="string" value="">
        <property name="startup-notify" type="bool" value="false"/>
      </property>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Delete" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;l" type="string" value=""/>
      <property name="XF86Display" type="string" value=""/>
      <property name="&lt;Super&gt;p" type="string" value=""/>
      <property name="&lt;Primary&gt;Escape" type="string" value=""/>
      <property name="XF86WWW" type="string" value=""/>
      <property name="XF86Mail" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Escape" type="string" value=""/>
      <property name="Print" type="string" value=""/>
      <property name="&lt;Alt&gt;Print" type="string" value=""/>
      <property name="XF86HomePage" type="string" value=""/>
      <property name="&lt;Super&gt;w" type="string" value=""/>
      <property name="&lt;Super&gt;m" type="string" value=""/>
      <property name="XF86Explorer" type="string" value=""/>
      <property name="&lt;Super&gt;f" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;t" type="string" value=""/>
      <property name="&lt;Super&gt;t" type="string" value=""/>
      <property name="&lt;Super&gt;r" type="string" value=""/>
      <property name="&lt;Super&gt;e" type="string" value=""/>
      <property name="XF86Calculator" type="string" value=""/>
      <property name="XF86Music" type="string" value=""/>
      <property name="&lt;Super&gt;1" type="string" value=""/>
      <property name="XF86Messenger" type="string" value=""/>
      <property name="&lt;Super&gt;2" type="string" value=""/>
      <property name="&lt;Super&gt;3" type="string" value=""/>
      <property name="&lt;Super&gt;4" type="string" value=""/>
    </property>
    <property name="custom" type="empty">
      <property name="Print" type="string" value=""/>
      <property name="&lt;Alt&gt;Print" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Delete" type="string" value=""/>
      <property name="XF86Explorer" type="string" value=""/>
      <property name="&lt;Super&gt;e" type="string" value=""/>
      <property name="&lt;Super&gt;f" type="string" value=""/>
      <property name="&lt;Alt&gt;F3" type="string" value="">
        <property name="startup-notify" type="bool" value="false"/>
      </property>
      <property name="&lt;Alt&gt;F2" type="string" value="">
        <property name="startup-notify" type="bool" value="false"/>
      </property>
      <property name="&lt;Primary&gt;&lt;Alt&gt;l" type="string" value=""/>
      <property name="&lt;Super&gt;m" type="string" value=""/>
      <property name="&lt;Super&gt;1" type="string" value=""/>
      <property name="&lt;Super&gt;2" type="string" value=""/>
      <property name="&lt;Super&gt;p" type="string" value=""/>
      <property name="&lt;Super&gt;3" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;t" type="string" value=""/>
      <property name="&lt;Super&gt;r" type="string" value=""/>
      <property name="&lt;Super&gt;t" type="string" value=""/>
      <property name="&lt;Super&gt;w" type="string" value=""/>
      <property name="&lt;Super&gt;4" type="string" value=""/>
      <property name="&lt;Primary&gt;Escape" type="string" value=""/>
      <property name="XF86Display" type="string" value=""/>
      <property name="&lt;Alt&gt;F1" type="string" value=""/>
      <property name="XF86WWW" type="string" value=""/>
      <property name="XF86Mail" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Escape" type="string" value=""/>
      <property name="XF86Messenger" type="string" value=""/>
      <property name="XF86Calculator" type="string" value=""/>
      <property name="XF86Music" type="string" value=""/>
      <property name="XF86HomePage" type="string" value=""/>
      <property name="override" type="bool" value="true"/>
    </property>
  </property>
  <property name="xfwm4" type="empty">
    <property name="default" type="empty">
      <property name="&lt;Alt&gt;Insert" type="string" value=""/>
      <property name="Escape" type="string" value=""/>
      <property name="Left" type="string" value=""/>
      <property name="Right" type="string" value=""/>
      <property name="Up" type="string" value=""/>
      <property name="Down" type="string" value=""/>
      <property name="&lt;Alt&gt;Tab" type="string" value=""/>
      <property name="&lt;Alt&gt;&lt;Shift&gt;Tab" type="string" value=""/>
      <property name="&lt;Alt&gt;Delete" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Down" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Left" type="string" value=""/>
      <property name="&lt;Shift&gt;&lt;Alt&gt;Page_Down" type="string" value=""/>
      <property name="&lt;Alt&gt;F4" type="string" value=""/>
      <property name="&lt;Alt&gt;F6" type="string" value=""/>
      <property name="&lt;Alt&gt;F7" type="string" value=""/>
      <property name="&lt;Alt&gt;F8" type="string" value=""/>
      <property name="&lt;Alt&gt;F9" type="string" value=""/>
      <property name="&lt;Alt&gt;F10" type="empty"/>
      <property name="&lt;Alt&gt;F11" type="string" value=""/>
      <property name="&lt;Alt&gt;F12" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Shift&gt;&lt;Alt&gt;Left" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;End" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Home" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Shift&gt;&lt;Alt&gt;Right" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Shift&gt;&lt;Alt&gt;Up" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_1" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_2" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_3" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_4" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_5" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_6" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_7" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_8" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_9" type="string" value=""/>
      <property name="&lt;Alt&gt;space" type="string" value=""/>
      <property name="&lt;Shift&gt;&lt;Alt&gt;Page_Up" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Right" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;d" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Up" type="string" value=""/>
      <property name="&lt;Super&gt;Tab" type="string" value=""/>
      <property name="&lt;Primary&gt;F1" type="string" value=""/>
      <property name="&lt;Primary&gt;F2" type="string" value=""/>
      <property name="&lt;Primary&gt;F3" type="string" value=""/>
      <property name="&lt;Primary&gt;F4" type="string" value=""/>
      <property name="&lt;Primary&gt;F5" type="string" value=""/>
      <property name="&lt;Primary&gt;F6" type="string" value=""/>
      <property name="&lt;Primary&gt;F7" type="string" value=""/>
      <property name="&lt;Primary&gt;F8" type="string" value=""/>
      <property name="&lt;Primary&gt;F9" type="string" value=""/>
      <property name="&lt;Primary&gt;F10" type="string" value=""/>
      <property name="&lt;Primary&gt;F11" type="string" value=""/>
      <property name="&lt;Primary&gt;F12" type="string" value=""/>
      <property name="&lt;Alt&gt;F5" type="string" value=""/>
    </property>
    <property name="custom" type="empty">
      <property name="Up" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_9" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_8" type="string" value=""/>
      <property name="Left" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_6" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_7" type="string" value=""/>
      <property name="&lt;Alt&gt;Tab" type="string" value=""/>
      <property name="&lt;Alt&gt;&lt;Shift&gt;Tab" type="string" value=""/>
      <property name="&lt;Primary&gt;F6" type="string" value=""/>
      <property name="&lt;Alt&gt;Insert" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Right" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Shift&gt;&lt;Alt&gt;Right" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;d" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Up" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Home" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Down" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Shift&gt;&lt;Alt&gt;Left" type="string" value=""/>
      <property name="&lt;Alt&gt;F5" type="string" value=""/>
      <property name="&lt;Alt&gt;F4" type="string" value=""/>
      <property name="&lt;Alt&gt;F12" type="string" value=""/>
      <property name="&lt;Alt&gt;F9" type="string" value=""/>
      <property name="&lt;Alt&gt;F11" type="string" value=""/>
      <property name="&lt;Alt&gt;F8" type="string" value=""/>
      <property name="Escape" type="string" value=""/>
      <property name="&lt;Super&gt;Tab" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;End" type="string" value=""/>
      <property name="&lt;Primary&gt;F10" type="string" value=""/>
      <property name="&lt;Primary&gt;F11" type="string" value=""/>
      <property name="&lt;Alt&gt;F7" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Shift&gt;&lt;Alt&gt;Up" type="string" value=""/>
      <property name="Down" type="string" value=""/>
      <property name="&lt;Alt&gt;F6" type="string" value=""/>
      <property name="&lt;Shift&gt;&lt;Alt&gt;Page_Down" type="string" value=""/>
      <property name="Right" type="string" value=""/>
      <property name="&lt;Primary&gt;F12" type="string" value=""/>
      <property name="&lt;Primary&gt;F1" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;Left" type="string" value=""/>
      <property name="&lt;Primary&gt;F2" type="string" value=""/>
      <property name="&lt;Primary&gt;F4" type="string" value=""/>
      <property name="&lt;Primary&gt;F5" type="string" value=""/>
      <property name="&lt;Primary&gt;F3" type="string" value=""/>
      <property name="&lt;Primary&gt;F7" type="string" value=""/>
      <property name="&lt;Primary&gt;F8" type="string" value=""/>
      <property name="&lt;Primary&gt;F9" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_1" type="string" value=""/>
      <property name="&lt;Alt&gt;Delete" type="string" value=""/>
      <property name="&lt;Shift&gt;&lt;Alt&gt;Page_Up" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_4" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_2" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_3" type="string" value=""/>
      <property name="&lt;Alt&gt;space" type="string" value=""/>
      <property name="&lt;Primary&gt;&lt;Alt&gt;KP_5" type="string" value=""/>
      <property name="override" type="bool" value="true"/>
    </property>
  </property>
  <property name="providers" type="array">
    <value type="string" value="xfwm4"/>
    <value type="string" value="commands"/>
  </property>
</channel>

