[Plymouth Theme]
Name=xubuntu-core-splash
Description=Wallpaper only
ModuleName=script

[script]
ImageDir=/usr/share/plymouth/themes/xubuntu-core-splash
ScriptFile=/usr/share/plymouth/themes/xubuntu-core-splash/xubuntu-core-splash.script

